%p#notice= notice

%p
  %b User:
  = @value.user_id
%p
  %b Image:
  = @value.image_id
%p
  %b Value:
  = @value.value
%p
  %b Created at:
  = @value.created_at
%p
  %b Updated at:
  = @value.updated_at

= link_to 'Edit', edit_value_path(@value)
\|
= link_to 'Back', values_path
