%div.all-users

  %h1 Список пользователей

  %table
    %thead
      %tr
        %th Имя
        %th Эл.почта
        %th
        %th
        %th

    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= link_to 'Показать', user
          %td= link_to 'Редактировать', edit_user_path(user)
          %td= link_to 'Удалить', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

  = link_to 'Новый пользователь', new_user_path, :class => "btn app-button"
