-#%header.navbar.navbar-fixed-top
-#  = link_to "sample app", root_path, id: "logo"
-#  %nav
-#    %ul.nav.navbar-nav.navbar-right
-#      %li= link_to "Home",   root_path
-#      %li= link_to "Help",   help_path
-#      %li= link_to "Log in", '#'

%header.navbar.header

  = link_to t('.logo_title'), root_path, class: "header__logo"

  %nav.header__menu
    %ul.header__menu-list

      %li.header__menu-link
        = link_to t('.help'), help_path
      - if signed_in?
        %li.logged.header__menu-link
          %div#fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = gravatar_for current_user
              %p
                #{current_user.email}
                %b.caret
            %ul.dropdown-menu
              %li= link_to t('.profile'), current_user
              %li= link_to t('.settings'), '#'
              %li.divider
              %li
                = link_to t('.sign_out'), signout_path, method: "delete"
      - else
        %li.header__menu-link
          = link_to t('.sign_in'), signin_path

  %div.locale

    -#.ru_link
    = link_to image_tag("Russia.jpg", alt: "",  style: "width: 10%; height: 10%", title: "Русский" ), locale: :ru
  
    = link_to image_tag("USA.jpg", alt: "",  style: "width: 12%; height: 12%", title: "English"), locale: :en

    %b
      = I18n.locale
